<div class="weather-app">
  <div class="weather-container">
    <h1 class="app-title">Weather</h1>

    <!-- Button to toggle weather visibility -->
    <!-- <button (click)="toggleWeather()" class="toggle-btn">
      {{ weatherVisible ? "Hide Weather" : "Show Weather" }}
    </button> -->

    <!-- Weather card with animation -->
    <div
      *ngIf="weatherVisible"
      class="weather-info"
      [@weatherAnimation]="weatherVisible ? 'visible' : 'hidden'"
    >
      <app-weather></app-weather>
    </div>
  </div>
</div>
